
  <div class="banner" style="background-image: url(<%= asset_path('cover.jpg') %>)">
    <div class=container>
      <h1>My lists</h1>
    </div>
  </div>


<div style="margin: 12px">
<%= link_to 'Create a movie list', new_list_path, class: "btn btn-primary" %>
</div>

<div class="main_cards">
      <% @lists.each do |list| %>
          <%= link_to list_path(list), class:'text-decoration-none' do %>
            <div class="card_list" style="background-image: url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : asset_path('vintige.jpg') %>)">
              <strong><%= list.name %></strong>
            </div>
          <% end %>
      <% end %>
</div>


